<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body>
      <script src="server.js"></script>
      <header>
          <!--Это шапка сайта-->
          <h1>
              ASTRO COMPUTERS
              <button onclick="location.href='main.html'">
                  Главная
              </button>
              <div class="dropdown">
                  <button onclick="myFunction()" class="dropbtn">
                      Категории
                      <div id="myDropdown" class="dropdown-content">
                          <!--Ты вроде и не обещал перехода по категориям, так что можно оставить всё так-->
                          <a href="main.html">Видеокарты</a>
                          <a href="main.html">Вентиляторы</a>
                          <a href="main.html">Адаптеры</a>
                          <a href="main.html">Приводы</a>
                      </div>
                  </button>
              </div>
              <button onclick="location.href='korzina.html'">
                  Корзина
              </button>
              <button onclick="location.href='profile.html'">
                  Профиль
              </button>
          </h1>

      </header>
      <main>
          <div class="rectangle" style="height: 400px;">

              <ul>
                  <li>
                      <label for="name">Имя:*</label>
                      <input type="text" name="name" placeholder="Иван Иванов" id="name" required>
                  </li>
                  <li>
                      <label for="name">Пароль:*</label>
                      <input type="text" name="password" placeholder="-" id="password" required>
                  </li>
                  <li>
                      <label for="name">Подтверждение пароля:*</label>
                      <input type="text" name="password" placeholder="-" id="password" required>
                  </li>
              </ul>
              <button onclick=sendData() style="width: 250px; margin: 20px; background: #1052a1;">
                  Готово
              </button>
          </div>
      </main>
      <footer>
      </footer>
      <script>
          async function sendData() {
              const name = document.getElementById('name').value;
              const password = document.getElementById('password').value;
              localStorage.setItem('username', name);
              const response = await fetch('http://localhost:3000/add', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ name, password }),
              });

              const data = await response.json();
              console.log(data.message);
              window.location.href = 'profile.html';
          }
      </script>
  </body>
</html>